[Desktop Entry]
Name=rasviewer
Comment=View channel data in .RAS and .DAT files
Exec=rasviewer
Icon=rasviewer
Terminal=false
Type=Application
Categories=Physics;Education;Science
StartupNotify=true
